{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recess-order"
  ],
  "plugins": [
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "overrides": [
    {
      "files": ["./src/**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-missing-generic-family-keyword": null,
    "color-named": "never",
    "scss/at-mixin-pattern": null,
    "selector-class-pattern": ".*",
    "scss/comment-no-empty": null,
    "plugin/declaration-block-no-ignored-properties": true,
    "no-empty-source": true,
    "selector-type-no-unknown":true,
    "rule-empty-line-before": ["always", {
      "except": ["after-single-line-comment"]
    }],
    "declaration-property-value-no-unknown": true,
    "scss/dollar-variable-pattern": ".*",
    "keyframes-name-pattern": ".*",
    "max-line-length": 9999,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-duplicate-custom-properties": true,
    "function-calc-no-unspaced-operator": true
  }
}
