{
  "extends": ["stylelint-config-recess-order", "stylelint-config-standard-scss"],
  "plugins": ["stylelint-declaration-block-no-ignored-properties", "stylelint-order"],
  "overrides": [
    {
      "files": ["./src/**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "declaration-colon-space-after": "always",
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-missing-generic-family-keyword": null,
    "color-named": "never",
    "color-hex-case": "lower",
    "scss/at-mixin-pattern": ".*",
    "selector-class-pattern": ".*",
    "scss/comment-no-empty": null,
    "plugin/declaration-block-no-ignored-properties": true,
    "no-empty-source": true,
    "selector-type-no-unknown":true,
    "rule-empty-line-before": ["always", {
      "except": ["after-single-line-comment"]
    }],
    "declaration-property-value-no-unknown": true,
    "scss/dollar-variable-pattern": ".*",
    "keyframes-name-pattern": ".*",
    "max-line-length": 9999,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-duplicate-custom-properties": true,
    "function-calc-no-unspaced-operator": true,
    "indentation": 2,
    "block-opening-brace-space-before": "always",
    "max-empty-lines": 1,
    "declaration-empty-line-before": "never",
    "block-closing-brace-empty-line-before": "never",
    "alpha-value-notation": "number"
  }
}