@mixin font-family($relativePath: "../") {
  @font-face {
    font-family: icons;
    src:   url("#{$relativePath}icon-font/icons.woff2?") format("woff2"),
    url("#{$relativePath}icon-font/icons.woff?") format("woff"),
    url("#{$relativePath}icon-font/icons.ttf?") format("truetype");
  }

  .icons {
    font-family: icons, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    line-height: 1;
    font-weight: normal;
  }
}


@mixin icon-check($add:"none") {
  @if $add == "none" {
    content: "\F001";
  } @else {
    &::#{$add} {
      content: "\F001";
    }
  }
}

