
@mixin font-family($relativePath: "../") {
  @font-face {
    font-family: "icons";
    src: url('#{$relativePath}icons.eot?t=1681140337193'); /* IE9*/
    src: url('#{$relativePath}icons.eot?t=1681140337193#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$relativePath}icons.woff2?t=1681140337193') format('woff2'),
    url('#{$relativePath}icons.woff?t=1681140337193') format('woff'),
    url('#{$relativePath}icons.ttf?t=1681140337193') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  }
}

[class^="icons---"], [class*=" icons---"] {
  font-family: 'icons';
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons--check:before { content: "\ea01"; }

$icons--check: "\ea01";
