{%- set ISeot = formats.indexOf('eot') > -1 -%}
{%- set ISwoff2 = formats.indexOf('woff2') > -1 -%}
{%- set ISwoff = formats.indexOf('woff') > -1 -%}
{%- set ISttf = formats.indexOf('ttf') > -1 -%}
{%- set count = formats.length -%}
{%- if hash -%}
{%- set hash = '?' + hash -%}
{%- else -%}
{%- set hash = '' -%}
{%- endif -%}

@mixin font-face ($iconPath:"{{ fontPath }}" ) {
  @font-face {
    font-family: "{{ fontName }}";
    font-weight: normal;
    font-style: normal;
  {%- if ISeot %}
    src: url("#{$iconPath}{{ fontName }}.eot");
  {%- endif %}
    src: {% if ISeot -%}
      url("#{$iconPath}{{ fontName }}.eot{{ hash }}#iefix") format("embedded-opentype")
  {%- set count = count - 1 -%}{%- if count -%},{%- else -%};{%- endif -%}{{'\n'}}
  {%- endif -%}
  {%- if ISwoff2 %}  url("#{$iconPath}{{ fontName }}.woff2{{ hash }}") format("woff2")
  {%- set count = count - 1 -%}{%- if count -%},{%- else -%};{%- endif -%}{{'\n'}}
  {%- endif -%}
  {%- if ISwoff %}  url("#{$iconPath}{{ fontName }}.woff{{ hash }}") format("woff")
  {%- set count = count - 1 -%}{%- if count -%},{%- else -%};{%- endif -%}{{'\n'}}
  {%- endif -%}
  {%- if ISttf %}  url("#{$iconPath}{{ fontName }}.ttf{{ hash }}") format("truetype")
  {%- set count = count - 1 -%}{%- if count -%},{%- else -%};{%- endif -%}{{'\n'}}
  {%- endif -%}
  }

  [class*="{{ className }}--"], [class^="{{ className }}"] {
    font-family: "{{ fontName }}";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
  }
}

{% for glyph in glyphs -%}
@mixin {{ className }}--{{ glyph.name }} ($add: "none") {
  @if $add == "none" {
    content: "\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}";
  }
  @else {
    &::#{$add} { content: "\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}"; }
  }
}

{% endfor %}