<% 
  path.static = '../../'; // このファイルからのimages/css/scriptsフォルダまでの相対パス（最後のスラッシュはつけない）
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include(`${path.comp}/_head`,{title:"トップページ"}) -%>
</head>

<body>
  <div id="wrapper">
    <%- include(`${path.comp}/_header`) -%>
    <main>
      メインコンテンツ
    </main>
    <%- include(`${path.comp}/_footer`) -%>
  </div>
</body>

</html>
