<%# css/js/image path = ${path.static} %>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include(`${path.comp}/_head`,{title:"トップページ"}) -%>
</head>

<body>
  <div id="wrapper">
    <%- include(`${path.comp}/_header`) -%>
    <main>
      メインコンテンツaaa
    </main>
    <%- include(`${path.comp}/_footer`) -%>
  </div>
</body>

</html>
