<%# ${path.static} is css/js/imageの相対パス  %>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include(`${path.comp}/_head`) -%>
</head>

<body>
  <div class="wrapper">
    <%- include(`${path.comp}/_header`) -%>
    <main>
      <p>メインコンテンツ</p>
      <br>
      <br>
      <br>
      <br>
      <p>アイコン実装サンプル</p>
      <span class="my-icon"></span>
    </main>
    <%- include(`${path.comp}/_footer`) -%>
  </div>
</body>

</html>
